@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *::-webkit-scrollbar {
    @apply w-[10px];
  }
  *::-webkit-scrollbar-track {
    @apply bg-[#1D1D1D];
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-orange-500 rounded-full;
  }
  .skill_card {
    @apply p-5 flex justify-center items-center rounded-[10px] transform transition-all duration-[500ms] cursor-pointer gap-5;
  }
  .btn_download,
  .btn_social,
  .sachin,
  .skill_card {
    box-shadow: -2px -2px 8px rgba(40, 40, 40, 1),
      -2px -2px 12px rgba(70, 70, 70, 0.5),
      inset 2px 2px 4px rgba(40, 40, 40, 0.1),
      2px 2px 8px rgba(255, 255, 255, 0.15);
  }
  .btn_download:active,
  .btn_social:active {
    box-shadow: inset -2px -2px 8px rgba(40, 40, 40, 1),
      inset -2px -2px 12px rgba(70, 70, 70, 0.5),
      inset 2px 2px 4px rgba(40, 40, 40, 0.1),
      inset 2px 2px 8px rgba(255, 255, 255, 0.15);
  }
  .input {
    box-shadow: inset 2px 2px 5px #393939, inset -5px -5px 10px #373737,
      2px 2px 5px #353535, -5px -5px 10px #343434;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
  }
}
